<div class="content">
  <div class="wgzd">
    <div class="a6">
      <%=link_to '所有问题', {:controller=>'question',:action=>'index'}, {:class=>'a8'} %>
    </div>
    <div class="a10">
      <%=link_to '有回答的问题', {:controller=>'question',:action=>'has_answer'} %>
    </div>
    <div class="a9">
      <%=link_to '回复我的', {:controller=>'question',:action=>'reply_me'} %>
      <div class="quanh">
        3
      </div>
    </div>
  </div>


  <div class="sy" id="bian">
    <div class="wt1">
      有1个新的提问 <a class="a7" href="#">查看</a>
    </div>
    <div class="sy_l">
      <img src="<%=image_url('designer/tou1.png') %>">
    </div>
    <div class="sy_r">
      <ul>
        <li class="jiacu">
          <img src="<%=image_url('designer/tc_r2_c2.png') %>" alt=""><a href="#">您好，很喜欢您这款设计，我家客厅长7.1米宽5.1米不知可做这样的设计?</a>
        </li>
        <li class="li1_5">2小时前</li>
        <li class="clear">
          <ul class="ul2">
            <li class="clear_l"><a href="#">椒盐饺子</a>
            </li>
            <li>浏览
              <span>26</span>
            </li>
            <li>回答
              <span>3</span>
            </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="huif">
      <ul>
        <li class="li18">
          <span class="weihuid">您尚未回答</span>
          <input type="button" value="马上回答">
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div class="sy">
    <div class="sy_l">
      <img src="<%=image_url('designer/tou1.png') %>">
    </div>

    <div class="sy_r">
      <ul>
        <li class="jiacu">
          <img src="<%=image_url('designer/tc_r2_c2.png') %>" alt=""><a href="#">您好，很喜欢您这款设计，我家客厅长7.1米宽5.1米不知可做这样的设计?</a>
        </li>
        <li class="li1_5">2小时前</li>
        <li class="clear">
          <ul class="ul2">
            <li class="clear_l"><a href="#">椒盐饺子</a>
            </li>
            <li>浏览
              <span>26</span>
            </li>
            <li>回答
              <span>3</span>
            </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="sy_bot">
      <div class="bot_l">
        <img src="<%=image_url('designer/tou.png') %>" width="40" height="40" alt="">
      </div>
      <div class="bot_r">
        <ul class="ul_2">
          <li><a class="a2" href="#">我</a>
            <span>3分钟前</span>
          </li>
          <li class="clear1">
            <img src="<%=image_url('designer/jiao.png') %>" class="jiao">
            <div class="div_1">
              <p>如果能成为一个设计师交流如果能成为一个设计师交流 沟通的人气平台就更好了是啊，如果能成为一个设计师交流沟通的人气平台就更好了
              </p>
            </div>

          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="sy_bot">
      <div class="bot_l">
        <img src="<%=image_url('designer/tou.png') %>" width="40" height="40" alt="">
      </div>
      <div class="bot_r">
        <ul class="ul_2">
          <li><a class="a3" href="#">椒盐饺子</a>
            <span>3分钟前</span> <a class="a4" href="#">回复</a>
          </li>

          <li class="clear1">
            <img src="<%=image_url('designer/jiao.png') %>" class="jiao">
            <div class="div_1">
              <p>如果能成为一个设计师交流如果能成为一个设计师交流好了是啊，如果能成为一个设计师交流沟通的人气平台就更好了</p>
            </div>

          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="sy_bot">
      <div class="bot_l">
        <img src="<%=image_url('designer/tou.png') %>" width="40" height="40" alt="">
      </div>
      <div class="bot_r">
        <ul class="ul_2">
          <li><a class="a2" href="#">我</a>
            <span>3分钟前</span>
          </li>

          <li class="clear1">
            <img src="<%=image_url('designer/jiao.png') %>" class="jiao">
            <div class="div_1">
              <p>如果能成为一个设计师交流如果能成为一个设计师交流好了是啊，如果能成为一个设计师交流沟通的人气平台就更好了</p>
            </div>

          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <% @questions.each do |t| %>
    <div class="sy">
      <div class="sy_l">
        <img src="<%=image_url('designer/tou1.png') %>">
      </div>

      <div class="sy_r">
        <ul>
          <li class="jiacu">
            <img src="<%=image_url('designer/tc_r2_c2.png') %>" alt="">
            <%=link_to t.title, {:controller=>'/question', :action=>'index', :id=>t.id} %>
          </li>
          <li class="li1_5">2小时前</li>
          <li class="clear">
            <ul class="ul2">
              <li class="clear_l">
                <%=link_to t.user.nickname, 'index' %>
              </li>
              <li>浏览
                <span><%=t.views %></span>
              </li>
              <li>回答
                <span><%=t.answer_num %></span>
              </li>
            </ul>
          </li>
          <div class="clear"></div>
        </ul>
      </div>
      <div class="clear"></div>
      <% if t.answer.empty? %>
      <div class="huif">
        <ul>
          <li class="li18">
            <span class="weihuid">您尚未回答</span>
            <input type="button" value="马上回答">
          </li>
        </ul>
      </div>
      <div class="clear"></div>
      <% else %>
        <% t.answer.each do |v| %>
        <div class="sy_bot">
          <div class="bot_l">
            <img src="<%=image_url('designer/tou.png') %>" width="40" height="40" alt="">
          </div>
          <div class="bot_r">
            <ul class="ul_2">
              <li><a class="a2" href="#">我</a>
                <span>3分钟前</span>
              </li>
              <li class="clear1">
                <img src="<%=image_url('designer/jiao.png') %>" class="jiao">
                <div class="div_1">
                  <p><%=v.content%></p>
                </div>

              </li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  
</div>
<div class="fanye">
  <input class="xiay_1" type="button" value="1">
  <input type="button" value="2">
  <input type="button" value="3">
  <input type="button" value="4">
  <input type="button" value="5">.....
  <input type="button" value="6295">
  <input class="xiay" type="image" src="<%=image_url('designer/xiayiye.png') %>">
</div>
