// Place all the styles related to the designer::question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jiacu a{display:inline-block; max-width: 758px; height: 17px; overflow: hidden; }