<!DOCTYPE html>
<html>

<head>
  <title>Designer</title>
  <%=stylesheet_link_tag 'designer/index', media: 'all' %>
  <%=javascript_include_tag 'application' %>
  <%=csrf_meta_tags %>
</head>

<body>
  <div id="header">
    <div id="head">
      <div id="naver">
        <div id="head_l">
          <ul>
            <li>你是大笨蛋ˇ</li>
            <li>欢迎您回来！</li>
            <li><a href="#">退出</a>
            </li>
            <li>购物车
              <span>31</span>
            </li>
          </ul>
        </div>
        <div id="head_r">
          <ul>
            <li>三六五网络：</li>
            <li><a href="">新房</a>
            </li>
            <li><a href="#">二手房</a>
            </li>
            <li><a href="#">租房</a>
            </li>
            <li><a href="#">家具</a>
            </li>
            <li><a href="#">业主社区</a>
            </li>
            <li><a href="#">团立方</a>
            </li>
            <li>
              <img src="<%=image_url('designer/shouji1.png') %>" alt="">
              <a href="#">
                <span style="color: red">家居惠</span>
              </a>
            </li>
            <li>
              <img src="<%=image_url('designer/shouji2.png') %>" alt="">
              <a href="#">
                <span>365淘房</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="logo">
      <div id="logo_l">
        <img src="<%=image_url('designer/logo.png') %>">
        <div class="x1">
          <div class="xia" style="height: 20px">
            <span>南京</span>
            <img class="bt" src="<%=image_url('designer/xiala1.png') %>">
          </div>
          <div class="clear">
          </div>
          <ul class="dian">
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
          </ul>
        </div>
      </div>
      <div id="logo_r">
        <div class="search">
          <ul>
            <li class="xiala">小区周边案例
              <img class="but" src="<%=image_url('designer/xiala2.png') %>">
              <div class="xial">
                <ul class="xllb">
                  <li>小区周边</li>
                  <li>小区周边</li>
                  <li>小区周边</li>
                  <li>小区周边</li>
                </ul>
                <div class="clear">
                </div>
              </div>
            </li>
            <li class="sea">
              <input type="text" class="sear_ipt">
            </li>
            <li>
              <input class="sear_ipt1" type="image" src="<%=image_url('designer/search.png') %>">
            </li>
          </ul>
        </div>
        <div class="sea_bot">
          <ul>
            <li><a href="#">凤凰熙岸</a>
            </li>
            <li><a href="#">金鼎湾</a>
            </li>
            <li><a href="#">董龙</a>
            </li>
            <li><a href="#">金宥利</a>
            </li>
            <li><a href="#">程恒阳</a>
            </li>
            <li><a href="#">苏越</a>
            </li>
            <li><a href="#">林原</a>
            </li>
            <li><a href="#">陈思涵</a>
            </li>
            <li><a href="#">银城林梦里</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="main">
      <div style="background-color:#FF6600">
        <div id="nav">
          <ul>
            <li class="l3"> <a href="#">首页</a>
            </li>
            <li><a href="#">设计招标</a>
            </li>
            <li><a href="#">找设计师</a>
            </li>
            <li><a href="#">设计案例</a>
            </li>
            <li><a href="#">分享</a>
            </li>
            <li><a href="#">设计问答</a>
            </li>
            <li class="l4"><a href="#">热点资讯</a>
            </li>
          </ul>
          <a href="#">
            <div>
              <span>发布装修需求</span>
            </div>
          </a>
        </div>
      </div>
      <div id="grr">
        <div id="gr">
          <div id="gr_l">
            <img class="tou" src="<%=image_url('designer/touback1.png') %>" alt="">
            <img src="<%=image_url('designer/touxiang.png') %>">
          </div>
          <div id="gr_r">
            <div id="gr_r_t">
              <ul>
                <li class="name">都敏俊
                  <img src="<%=image_url('designer/7.png') %>" alt="">
                  <input class="inpu" type="button" value="添加新项目">
                </li>
                <li>ID34342432
                  <span style="color: #ffffff">|</span>江苏 南京</li>
                <li>
                  <ul class="u1">
                    <li class="li1">
                      <img class="im1" src="<%=image_url('designer/6.png') %>">
                      <div>
                        <span>2</span>
                      </div>
                    </li>
                    <li>
                      <img class="im2" src="<%=image_url('designer/5.png') %>">
                      <div>
                        <span>1</span>
                      </div>
                    </li>
                    <li>
                      <img class="im3" src="<%=image_url('designer/4.png') %>">
                      <div>
                        <span>+</span>
                      </div>
                    </li>
                    <li>
                      <img class="im4" src="<%=image_url('designer/3.png') %>">
                    </li>
                    <li>
                      <img class="im5" src="<%=image_url('designer/2.png') %>">
                      <div>
                        <span>12</span>
                      </div>
                    </li>
                    <li class="li2">
                      <img class="im6" src="<%=image_url('designer/1.png') %>">
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div id="gr_r_b">
              <ul>
                <li style="margin-left: 0px">
                  <%=link_to '个人中心', controller:'index' %>
                </li>
                <li>
                  <%=link_to '案例管理', controller:'/question' %>
                </li>
                <li class="l6">
                  <%=link_to '问答管理', controller:'question' %>
                </li>
                <li>
                  <a href="#">预约管理</a>
                </li>
                <li>
                  <a href="#">投标管理</a>
                </li>
                <li>
                  <a href="javascript:void(0)" onclick="showBga()">留言管理</a>
                </li>
                <li>
                  <a href="#">收藏关注</a>
                </li>
                <li>
                  <a href="#">个人资料</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <%=yield %>


    <script>
    //显示灰色 jQuery 遮罩层 

    function showBga() {
      var bh = $("body").height();
      var bw = $("body").width();
      $("#fullbga").css({
        height: bh,
        width: bw,
        display: "block"
      });
      $("#dialoga").show();
    }
     //关闭灰色 jQuery 遮罩 

    function closeBga() {
      $("#fullbga,#dialoga").hide();
    }
    </script>
</body>

</html>
