<div class="transparent"></div>
<div class="login_form">
    <%= form_tag("/site/login", method: "post") do %>
        <span>用户登录</span>
        <ul>
            <li class="prompt"></li>
            <li>
              <input type="text" class="input_style" name="username" placeholder="用户名">
            </li>

            <li class="prompt"></li>
            <li>
                <input type="password" class="input_style" name="password" placeholder="密码">
            </li>
            <li>
                <input type="checkbox" class="checkbox_style">
                <label for="rememberMe">记住我</label>
            </li>

            <li>
                <%=submit_tag("登陆", class:'submit_button') %>&nbsp;
                <%=link_to '注册新账号' %>
            </li>
        </ul>
    <% end %>

    <%=flash[:error]%>
</div>