// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { background-image: url('login_bg.jpg'); background-size: 1370px 768px; }
.transparent { height: 305px; width: 418px; background-color: #fff; border-radius: 4px; margin-left: 675px; margin-top: 95px; opacity: 0.4; }
.login_form { height: 305px; width: 418px; margin-left: 675px; position: relative; top: -305px; }
.login_form span { display: block; padding-left: 70px; color: #999; height: 45px; line-height: 45px; font-size: 16px; font-family: "微软雅黑"; border-bottom: 1px solid #999; }
.login_form ul { width: 272px; margin: 48px auto; }
.login_form ul li { margin-bottom: 13px; vertical-align: middle; }
.input_style { width:258px; position:relative; top:2px; left:2px; height:18px; padding:11px 0 11px 10px; line-height:18px; font-size:16px; border-radius: 4px; border: 1px solid #d6d6d6; }
.checkbox_style { margin-left: 3px; margin-top: 4px; }
.submit_button { width: 115px; height: 35px; }