<div id="center">
        <!--内容左边-->

        <div id="cen_l">
            <div class="guanzu">
                <div class="gz">
                    <span>新的预约</span>
                </div>
                <div class="gzd">
                    <ul>
                        <li class="l7">
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url("designer/pic_1.png") %>">
                            </a>
                            <p><a href="#">vela神神</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_2.png') %>">
                            </a>
                            <p><a href="#">亨利卡维尔</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_3.png') %>">
                            </a>
                            <p><a href="#">黑山老妖</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_4.png') %>">
                            </a>
                            <p><a href="#">亨利卡维尔</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_5.png') %>">
                            </a>
                            <p><a href="#">黑山老妖</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_6.png') %>">
                            </a>
                            <p><a href="#">亨利卡维尔</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_7.png') %>">
                            </a>
                            <p><a href="#">黑山老妖</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_8.png') %>">
                            </a>
                            <p><a href="#">黑山老妖</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>


            <div id="metw">
                <div class="guanzu">
                    <div class="gz">
                        <span>新的提问</span>
                    </div>
                </div>
                <div id="photo1">
                    <div class="pot ">
                        <div class="pot_1">
                            <div class="photos">22</div>
                            <img width="218" height="165" src="<%=image_url('designer/photo1.png') %>">
                            <span>
                                <img src="<%=image_url('designer/tc_r2_c2.png') %>" alt=""><a href="#">您好，很喜欢您这款设计，我家客厅长7.7米宽8.3米不知可做这样的设计？</a>
                            </span>
                        </div>

                        <div class="pot_2">
                            <span class="sc1">收藏
                                <span class="sc_1">23</span>&nbsp;
                                <span class="shu">|</span>&nbsp;提问
                                <span class="sc_1">3</span>
                            </span>
                            <span class="tw">2014/02/24</span>
                        </div>
                    </div>
                    <div class="pot ">
                        <div class="pot_1">
                            <div class="photos">22</div>
                            <img width="218" height="165" src="<%=image_url('designer/photo2.png') %>">
                            <span>
                                <img src="<%=image_url('designer/tc_r2_c2.png') %>" alt=""><a href="#">您好，很喜欢您这款设计，我家客厅长7.7米宽8.3米不知可做这样的设计？</a>
                            </span>
                        </div>

                        <div class="pot_2">
                            <span class="sc1">收藏
                                <span class="sc_1">23</span>&nbsp;
                                <span class="shu">|</span>&nbsp;提问
                                <span class="sc_1">3</span>
                            </span>
                            <span class="tw">2014/02/24</span>
                        </div>
                    </div>
                    <div class="pot ">
                        <div class="pot_1">
                            <div class="photos">22</div>
                            <img width="218" height="165" src="<%=image_url('designer/photo3.png') %>">
                            <span>
                                <img src="<%=image_url('designer/tc_r2_c2.png') %>" alt=""><a href="#">您好，很喜欢您这款设计，我家客厅长7.7米宽8.3米不知可做这样的设计？</a>
                            </span>
                        </div>

                        <div class="pot_2">
                            <div class="photos">22</div>
                            <span class="sc1">收藏
                                <span class="sc_1">23</span>&nbsp;
                                <span class="shu">|</span>&nbsp;提问
                                <span class="sc_1">3</span>
                            </span>
                            <span class="tw">2014/02/24</span>
                        </div>
                    </div>
                    <div class="pot ">
                        <div class="pot_1">
                            <div class="photos">22</div>
                            <img width="218" height="165" src="<%=image_url('designer/photo1.png') %>">
                            <span>
                                <img src="<%=image_url('designer/tc_r2_c2.png') %>" alt=""><a href="#">您好，很喜欢您这款设计，我家客厅长7.7米宽8.3米不知可做这样的设计？</a>
                            </span>
                        </div>

                        <div class="pot_2">
                            <span class="sc1">收藏
                                <span class="sc_1">23</span>&nbsp;
                                <span class="shu">|</span>&nbsp;提问
                                <span class="sc_1">3</span>
                            </span>
                            <span class="tw">2014/02/24</span>
                        </div>
                    </div>


                </div>
            </div>
            <div class="clear"></div>
            <div class="guanz">
                <div class="gz">
                    <span>新的回复</span>
                </div>
                <div class="hufu">
                    <div class="hufu_l">
                        <img src="<%=image_url('designer/tou.png') %>" width="40" height="40">
                    </div>
                    <div class="hufu_r">
                        <ul>
                            <li><a href="#">我是大鸟子</a>
                            </li>
                            <li>
                                <span>3分钟前</span>
                            </li>
                        </ul>
                        <div class="clear"></div>
                        <img src="<%=image_url('designer/jiao.png') %>" class="jiao">
                        <div class="hh">
                            <p>是啊啊 如果有能沟通的平台就好了是啊啊 如果有能沟通的平台就</p>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
                <div class="hufu">
                    <div class="hufu_l">
                        <img src="<%=image_url('designer/tou.png') %>" width="40" height="40">
                    </div>
                    <div class="hufu_r">
                        <ul>
                            <li><a href="#">我是大鸟子</a>
                            </li>
                            <li>
                                <span>3分钟前</span>
                            </li>
                        </ul>
                        <div class="clear"></div>
                        <img src="<%=image_url('designer/jiao.png') %>" class="jiao">
                        <div class="hh">
                            <p>是啊啊 如果有能沟通的平台就好了是啊啊 如果有能沟通的平台就好了>是啊啊 如果有能沟通的平台就好了是啊啊 如果有能沟通的平台就好了是啊啊 如果有能沟通的平台就好了</p>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>

                <div class="hufu">
                    <div class="hufu_l">
                        <img src="<%=image_url('designer/tou.png') %>" width="40" height="40">
                    </div>
                    <div class="hufu_r">
                        <ul>
                            <li><a href="#">我是大鸟子</a>
                            </li>
                            <li>
                                <span>3分钟前</span>
                            </li>
                        </ul>
                        <div class="clear"></div>
                        <img src="<%=image_url('designer/jiao.png') %>" class="jiao">
                        <div class="hh">
                            <p>是啊啊 如果有能沟通的平台就好了是啊啊 如果有能沟通的平台就</p>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="guanzu">
                <div class="gz">
                    <span>新关注我的</span>
                </div>
                <div class="gzd">
                    <ul>
                        <li class="l7">
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_1.png') %>">
                            </a>
                            <p><a href="#">vela神神</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_2.png') %>">
                            </a>
                            <p><a href="#">亨利卡维尔</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_3.png') %>">
                            </a>
                            <p><a href="#">黑山老妖</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_4.png') %>">
                            </a>
                            <p><a href="#">亨利卡维尔</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_5.png') %>">
                            </a>
                            <p><a href="#">黑山老妖</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_6.png') %>">
                            </a>
                            <p><a href="#">亨利卡维尔</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_7.png') %>">
                            </a>
                            <p><a href="#">黑山老妖</a>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img width="80" height="80" src="<%=image_url('designer/pic_8.png') %>">
                            </a>
                            <p><a href="#">黑山老妖</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>

        </div>

        <!--内容右边部分-->
        <div id="con_r">
            <div class="con_r_t">
                <div class="con_r_t_t">
                    <span>大家正在寻找合适的设计师</span>
                </div>
                <div class="con_r_t_b">
                    <ul>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">都敏俊</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">黄奕</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">夏晓智</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">欧阳珊珊</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">董龙</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">都敏俊</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">黄奕</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">夏晓智</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">欧阳珊珊</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">董龙</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">都敏俊</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">黄奕</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">夏晓智</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">欧阳珊珊</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">董龙</a>
                        </li>
                        <li>业主
                            <span>(13826****)</span>预约了设计师<a href="#">都敏俊</a>
                        </li>

                    </ul>
                </div>
                <div class="con_r_b">
                    <div class="con_r_t_t">
                        <span>大家正在寻找合适的设计师</span>
                    </div>
                    <div class="con_r_b_b">
                        <ul>
                            <li>设计师<a href="#">都敏俊</a>刚上传了<a href="#" class="span3">银城林梦里样板间</a>
                            </li>
                            <li>设计师<a href="#">黄奕</a> 刚上传了<a href="#" class="span3">银城林梦里样板间</a>
                            </li>
                            <li>设计师<a href="#">夏晓智</a> 刚上传了<a href="#" class="span3">银城林梦里样板间</a>
                            </li>
                            <li>设计师<a href="#">欧阳珊珊</a> 刚上传 <a href="#" class="span3">银城林样板间</a>
                            </li>
                            <li>设计师<a href="#">董龙</a>刚上传了<a href="#" class="span3">银城林梦里样板间</a>
                            </li>
                            <li>设计师<a href="#">都敏俊</a>刚上传了<a href="#" class="span3">银城林梦里样板间</a>
                            </li>
                            <li>设计师<a href="#">黄奕</a> 刚上传了<a href="#" class="span3">银城林梦里样板间</a>
                            </li>
                            <li>设计师<a href="#">夏晓智</a> 刚上传了<a href="#" class="span3">银城林梦里样板间</a>
                            </li>
                            <li>设计师<a href="#">欧阳珊珊</a> 刚上传了<a href="#" class="span3">银城林梦里样</a>
                            </li>
                            <li>设计师<a href="#">董龙</a>刚上传了<a href="#" class="span3">银城林梦里样板间</a>
                            </li>
                            <li>设计师<a href="#">都敏俊</a>刚上传了<a href="#" class="span3">银城林梦里样板间</a>
                            </li>
                            <li>设计师<a href="#">黄奕</a> 刚上传了<a href="#" class="span3">银城林梦里样板间</a>
                            </li>
                            <li>设计师<a href="#">夏晓智</a> 刚上传了<a href="#" class="span3">银城林梦里样板间</a>
                            </li>
                            <li>设计师<a href="#">欧阳珊珊</a> 刚上传了<a href="#" class="span3">银城林梦板间</a>
                            </li>
                            <li>设计师<a href="#">董龙</a>刚上传了<a href="#" class="span3">银城林梦里样板间</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="dialoga">
        <div class="tck">
            <div style="cursor:hand; margin-left:525px; margin-top:-20px;" onclick="closeBga()">
                <img src="<%=image_url('designer/close.png') %>">
            </div>
            <h2>
                <img src="<%=image_url('designer/tc_r2_c2.png') %>">您好，很喜欢您这款设计，我家客厅长7.1米宽5.1米不知可做这样的设计？</h2>
            <textarea class="dh1">我来回答~</textarea>
            <p>
                <img src="<%=image_url('designer/tc_r4_c4.png') %>">插入图片</p>
            <input type="submit" class="tj" value="提 交">
            <div class="clear"></div>
        </div>
    </div>
    <div id="fullbga"></div>